/*
=============== 
Fonts
===============
*/
@import url("https://fonts.google.com/specimen/Raleway");
@import url("https://fonts.google.com/specimen/Open+Sans");
/*
=============== 
Variables
===============
*/
:root {
  /* primary colors */
  --clr-dark-blue-1: hsl(217, 28%, 15%);
  --clr-dark-blue-2: hsl(218, 28%, 13%);
  --clr-dark-blue-1: hsl(216, 53%, 9%);
  --clr-dark-blue-1: hsl(219, 30%, 18%);
  /* Accent Colors */
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --light: hsl(0, 100%, 63%);
  /* Neutral colors */
  --white: hsl(0, 0%, 100%);
  /* fonts */
  --raleway: "Raleway";
  --openSans: "Open Sans";
  --mobile-font-weight: 400;
  --desktop-font-weight: 700;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--openSans);
  font-weight: var(----desktop-font-weight);
  /* background: var(--clr-dark-blue-2); */
  background: #202a3c;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.btn {
  background: linear-gradient(to right, var(--cyan), var(--blue));
  color: var(--white);
  padding: 15px 60px;
  display: inline-block;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.5s ease;
}

btn:hover {
  transform: scale(1.1);
}

/* beginning of header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-center {
  /* width: 90%; */
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14%;
}
.nav-img {
  width: 100%;
}
.nav-items {
  width: 20%;
}
.nav-items ul {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.nav-items ul li {
  transition: 0.5 ease;
}

.nav-items ul li:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
}
/* sections */
section {
  padding: 10px 0;
}
.section-center {
  padding: 10px;
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
.intro-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.section-intro-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-intro-image img {
  width: 100%;
}
.section-intro-info {
  color: var(--white);
  width: 40%;
  text-align: center;
}
.section-intro-info h1 {
  margin-bottom: 10px;
  padding: 5px;
}
.section-intro-info p {
  margin-bottom: 15px;
  width: 82%;
  margin: 15px auto;
  font-weight: 200;
}
